<section class = "bg bg-guide" style = "background-image: url(../img/blog/guide.jpg); background-position: center 70%;">
  <div class = "container-large">
    <div class = "row row-top-100 row-bottom-50">
      <a href = "/blog_main.html">
      <div class = "col-xs-10 col-xs-offset-1 text-center">
        <h3 class = "row-bottom-25 hero-title" style = "color: white;">The Ultimate Guide</h3>
        <p style = "color: white;" class = "subtitle">
          6 Must-Knows to get the Affordable Health Insurance You Deserve
        </p>
      </div> </a>
    </div>
  </div>
</section>
