<p class = "row-bottom-15">
  If you have any questions or thoughts, we’d love to learn from you and make health insurance easier for all fellow earthlings. Feel free to contact us at <a href="mailto:support@honeyinsured.com">support@honeyinsured.com</a> or show us some <span class = "glyphicon glyphicon-heart red"></span>.
</p>

<ul class="soc-lg">
  <li>
    <a class="soc-twitter" href="http://twitter.com/home?status=Just got covered with @HoneyInsured in 5 min, it was way too easy!"></a>
  </li>
  <li>
    <a class="soc-facebook soc-icon-last" href="https://www.facebook.com/honeyinsured"></a>
  </li>
</ul>