<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>HoneyInsured</title>

    <!-- Bootstrap core CSS -->

    <!-- TODC Bootstrap core CSS -->
    <link href="css/generated-theme.css" rel="stylesheet">
    <link href="css/generated-app.css" rel="stylesheet">
    <link href="css/generated-form.css" rel="stylesheet">
    <link href="css/generated-enroll.css" rel="stylesheet">

    <!-- Custom styles for this page -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- CDN -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../bower_components/d3/d3.min.js"></script>
    <script src="../bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    <!-- Group 1 -->
    @@include('layouts/js-import.html')

    <!-- Custom -->
    <script src="../bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.min.js"></script>
    <script src="js/enroll.js"></script>
    <script src="js/plans-lib/enroll-subapp.js"></script>

  </head>

  <body ng-app="enrollApp" ng-controller="enrollCtrl" ng-cloak>

    @@include('layouts/header-info.html')

    <section class = "bg bg-info-2 text-center" style = "background-image: url(../img/info-1.png);background-position: center bottom;color: white; ">
      <div class = "container-large">
        <div class = "row app-header-top">
          <div class = "col-xs-10 col-xs-offset-1">
            <h3 class = "row-bottom-25 title" ng-if="templateIndex<7">Enroll Online</h3>
            <h3 class = "row-bottom-25 title" ng-if="templateIndex==7">Congratulations!</h3>

            <!-- <div class = "row" ng-if="templateIndex<5">
            <div class = "col-xs-8 col-xs-offset-2">
            <ul class="progress-indicator">
            <li class="progress-orange">
            <span class="bubble"></span>
            You
            </li>
            <li class = "progress-blue" ng-class="{'disabled':templateIndex==0}">
            <span class="bubble"></span>
            Family
            <span ng-if="form.isSubsidy"> & Income </span>
            </li>
            <li class = "progress-green" ng-class="{'disabled':templateIndex<4}">
            <span class="bubble"></span>
            Review
            </li>
            </ul>
            </div>
            </div> -->

          </div>
        </div>
      </div>
    </section>
    <ul class="breadcrumb text-center">
      <li>
        <a href="" ng-click="goBackInfo('#info')">You & Preferences</a>
      </li>
      <li>
        <a href="" ng-click="goBackInfo('#doctor')">Doctors & Healthcost</a>
      </li>
      <li>
        <a href = "" ng-click="goBackRecommend()">Recommendations</a>
      </li>
      <li class="active">
        <a href = "">Enroll</a>
      </li>
    </ul>

    <!--*****************************************************************
    * Loading
    *****************************************************************-->
    <section class = "recommend-content container-large text-center" ng-if="!hasPlan">
      <div class = "row-top-25">
        <div class="sk-wandering-cubes">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-12 col-md-8 col-md-offset-2">
          <p class = "row-top-25">
            {{error}}
          </p>
        </div>
      </div>
    </section>

    <!--*****************************************************************
    * Enrollment Contents
    *****************************************************************-->

    <div class="container-large enroll-content" ng-if="hasPlan">
      <div class = "row row-bottom-50" style="min-height: 400px;">
        <div class = "col-md-8 row-top-25 row-bottom-50">
          <span ng-if="templateIndex==-1"> <h3 class = "row-bottom-15" >Sorry we don't support enrollment for Catastrophic plans</h3>
            <p class = "row-bottom-15" >
              You can choose another plan or go to Healthcare.gov to enroll in this plan. Millions of apologies once again!
            </p>
            <div class = "row row-bottom-25">
              <div class = "col-xs-12">
                <button type="button" class="btn btn-primary btn-lg" ng-click="goBackRecommend()">
                  Browser Other Plans
                </button>
              </div>
            </div> </span>

          <h3 class = "row-bottom-15" ng-if="templateIndex==0">Tell us about you</h3>
          <p class = "row-bottom-15" ng-if="templateIndex==0">
            HoneyInsured can help <span ng-if="profile.numPerson==1">you</span><span ng-if="profile.numPerson>1">your family</span> enroll <span ng-if="form.isSubsidy">and apply for tax subsidies </span><strong>in less than 5 minutes</strong> so you can get coverage starting <b>{{startDate}}</b>. Start by entering your basic information below. We use bank-level security to make sure your data stays safe and private.
          </p>

          <h3 class = "row-bottom-15" ng-if="templateIndex==1">Household Members</h3>
          <p class = "row-bottom-15" ng-if="form.isSubsidy && templateIndex==1">
            Please tell us about all members who will be on your 2016 tax return, even if they are not going to be covered under this plan. Please include your spouse if you are married and all your tax dependents.
          </p>
          <p class = "row-bottom-15" ng-if="form.isSubsidy && templateIndex==1">
            Note: You can't enroll a member who has employer health insurance (unless the coverage is ending), Medicare, Medicaid, CHIP, Veteran's Affairs Health Care, Peace Corps or TriCare.
          </p>
          <p class = "row-bottom-15" ng-if="!form.isSubsidy && templateIndex==1">
            Please tell us about your family members who are going to be covered under this plan.
          </p>

          <h3 class = "row-bottom-15" ng-if="templateIndex==2">Income</h3>
          <p class = "row-bottom-15" ng-if="templateIndex==2">
            To apply for lower prices, please add <b>all sources of 2016 income</b> for your tax household. You don't have to be exact but the total should be about <b>{{profile.income|currency:"$":0}}</b>. If your actual 2016 income turns out to be higher, you will get a smaller tax return. If it is lower, you will get a higher tax return.
          </p>

          <p class = "row-bottom-15" ng-if="!nonEligible && templateIndex==4">
            Your information is slightly different from what you told us earlier. That's okay, we recalculated your costs. Your new monthly premium is <b>{{plan.premium |currency:"$":0}}</b>.
          </p>
          <p ng-if="!nonEligible && inEligibles && !_.isEmpty(inEligibles) && templateIndex==4">
            Based on the new information, these family members cannot be enrolled on the plan because they may be eligible for Medicaid, CHIP or Medicare. You can still proceed to enroll the other family members.
          </p>
          <p ng-if="nonEligible && templateIndex==4">
            Based on the new information, these family members may be eligible for Medicaid, CHIP or Medicare. Please go to HealthCare.gov for more information.
          </p>

          <h3 class = "row-bottom-15" ng-if="templateIndex==5">Review & Sign</h3>
          <p class = "row-bottom-15" ng-if="templateIndex==5">
            <b>Please review the following statements and confirm by entering your full name below. Feel free to chat us if you have any questions.</b>
          </p>

          <div class = "row" ng-if="templateIndex==7">
            <!--*****************************************************************
            * Congrats
            *****************************************************************-->
            <div class = "col-xs-12">
              <h3 class = "row-bottom-15">You're all set!</h3>

              <p class = "row-bottom-15">
                Your confirmation number is <b>{{applicationId}}</b>. We also sent an email to <b>{{form.email}}</b> with instructions on how to track your application.
              </p>

              @@include('partials/submitted-social.html')
            </div>
          </div>

          <!--*****************************************************************
          * Main Applicant
          *****************************************************************-->
          <form name="form1" novalidate ng-if="templateIndex==0">
            <div class = "form">
              <div class="row hidden-xs">
                <div class="col-sm-3">
                  <input name="first name" type="text" class="form-control" ng-model="form.members[0].firstName" placeholder="First Name" required capitalize-first/>
                </div>
                <div class = "col-sm-3">
                  <input name="last name" type="text" class="form-control" ng-model="form.members[0].lastName" placeholder="Last Name" required capitalize-first/>
                </div>
                <div class = "col-sm-3">
                  <input name="email" type="text" class="form-control" ng-model="form.email" placeholder="Email" required pattern="^[_A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" valid-email/>
                </div>
                <div class = "col-sm-3">
                  <input name="phone number" type="text" class="form-control" ng-model="form.phone" placeholder="Phone" inputmask="'mask': '(999) 999-9999'" required pattern="\(\d{3}\) \d{3}-\d{4}" valid-phone/>
                </div>
              </div>
              <div class = "row hidden-xs">
                <div class = "col-sm-4-half">
                  <input name="address" type="text" class="form-control" ng-model="form.address.street" geolocation = "form.address" placeholder="Home Street Address" required/>
                </div>
                <div class = "col-sm-1-half">
                  <input type="text" class="form-control inspectletIgnore" ng-model="form.address.apt" placeholder="Apt #"/>
                </div>
                <div class = "col-sm-2">
                  <input name="city" type="text" class="form-control inspectletIgnore" ng-model="form.address.city" placeholder="City" required/>
                </div>
                <div class = "col-sm-2">
                  <select name="state" selectpicker data-width="100%" ng-options="state for state in CONSTANTS.STATES track by state" ng-model="form.address.state" required disabled>
                    <option value disabled>State</option>
                  </select>
                </div>
                <div class = "col-sm-2">
                  <input name="zip code" type="text" class="form-control" ng-model="form.address.zip" placeholder="Zip Code" valid-zipcode required disabled/>
                </div>
              </div>

              <div class = "row hidden-xs">
                <div class = "col-sm-6">
                  <select name="reason" selectpicker data-width="100%" ng-options="reason for reason in specialEnrollmentReasons track by reason" ng-model="form.reason" required>
                    <option value disabled>Special Enrollment Reason</option>
                  </select>
                </div>
                <div ng-if="form.reason" ng-class="{'col-sm-3':specialEnrollmentReasons.indexOf(form.reason)==5,'col-sm-6':specialEnrollmentReasons.indexOf(form.reason)!=5}">
                  <input name="reason date" type="text" class="form-control" ng-model="form.reason_date" placeholder="{{CONSTANTS.SPECIAL_ENROLLMENT_DATE[specialEnrollmentReasons.indexOf(form.reason)]}}" inputmask="'alias':'mm/dd/yyyy'" pattern="\d{2}/\d{2}/\d{4}" required/>
                </div>
                <div class = "col-sm-3 " ng-if="form.reason && specialEnrollmentReasons.indexOf(form.reason)==5">
                  <input name="move zip" type="text" class="form-control" ng-model="form.reason_zip" placeholder="Previous Zip" inputmask="'mask':'99999'" required/>
                </div>
              </div>

              <!-- small screen -->
              <div class="row hidden-sm hidden-md hidden-lg">
                <div class="col-xs-6">
                  <input name="first name" type="text" class="form-control" ng-model="form.members[0].firstName" placeholder="First Name" required capitalize-first/>
                </div>
                <div class = "col-xs-6">
                  <input name="last name" type="text" class="form-control" ng-model="form.members[0].lastName" placeholder="Last Name" required capitalize-first/>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-6">
                  <input name="email" type="text" class="form-control" ng-model="form.email" placeholder="Email" required pattern="^[_A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" valid-email/>
                </div>
                <div class = "col-xs-6">
                  <input name="phone number" type="text" class="form-control inspectletIgnore" ng-model="form.phone" placeholder="Phone" inputmask="'mask': '(999) 999-9999'" required pattern="\(\d{3}\) \d{3}-\d{4}" valid-phone/>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-7">
                  <input name="address" type="text" class="form-control inspectletIgnore" ng-model="form.address.street" geolocation = "form.address" placeholder="Home Street Address" required/>
                </div>
                <div class = "col-xs-5">
                  <input type="text" class="form-control inspectletIgnore" ng-model="form.address.apt" placeholder="Apt #"/>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-6">
                  <input name="city" type="text" class="form-control inspectletIgnore" ng-model="form.address.city" placeholder="City" required/>
                </div>
                <div class = "col-xs-3">
                  <select name="state" selectpicker data-width="100%" ng-options="state for state in CONSTANTS.STATES track by state" ng-model="form.address.state" required disabled>
                    <option value disabled>State</option>
                  </select>
                </div>
                <div class = "col-xs-3">
                  <input name="zip code" type="text" class="form-control" ng-model="form.address.zip" placeholder="Zip Code" valid-zipcode required disabled/>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-12">
                  <select name="reason" selectpicker data-width="100%" ng-options="reason for reason in specialEnrollmentReasons track by reason" ng-model="form.reason" required>
                    <option value disabled>Special Enrollment Reason</option>
                  </select>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class="col-xs-6" ng-if="form.reason">
                  <input name="reason date" type="text" class="form-control" ng-model="form.reason_date" placeholder="{{CONSTANTS.SPECIAL_ENROLLMENT_DATE[specialEnrollmentReasons.indexOf(form.reason)]}}" inputmask="'alias':'mm/dd/yyyy'" pattern="\d{2}/\d{2}/\d{4}" required/>
                </div>
                <div class = "col-xs-6" ng-if="form.reason && specialEnrollmentReasons.indexOf(form.reason)==5">
                  <input name="move zip" type="text" class="form-control" ng-model="form.reason_zip" placeholder="Previous Zip" inputmask="'mask':'99999'" required/>
                </div>
              </div>
              

              <div class="row" style = "display:none;">
                <div class = "col-xs-12">
                  <label class = "center-vertical">
                    <input type="checkbox" ng-model="form.isSubsidy"/>
                    &nbsp; Applying for Subsidies </label>
                </div>
              </div>
            </div>
            <div class="alert alert-danger fade in" role="alert" ng-if="form1.$submitted && !form1.$valid" >
              <p ng-if="form1.$error.fakeEmail">
                Please do not use a fake or disposable email address.
              </p>
              <p ng-if="form1.$error.fakePhone">
                Please use a valid phone number.
              </p>
              <p ng-if="form1.$error.wrongZip">
                The address provided has a different zipcode as {{urlParams.zip}}. Please search for plans in your zipcode.
              </p>
              <p ng-if="form1.$error.required  || form1.$error.pattern">
                Please fill up the required fields.
              </p>
              <!-- <p ng-if="form1.$error.pattern">
              Invalid<span ng-repeat="error in form1.$error.pattern"> {{error.$name}}<span ng-if="!$last">,</span><span ng-if="$last">.</span></span>
              </p> -->
            </div>

            <div class = "row row-bottom-25">
              <div class = "col-xs-12">
                <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="next(form1)">
                  Next
                </button>
              </div>
            </div>
          </form>
          <!--*****************************************************************
          * Main Applicant
          *****************************************************************-->
          <form name="form2" class="fadeAnimate-in" ng-if="templateIndex==1">
            <div class = "form person fadeAnimate" ng-repeat="member in form.members">
              <div class = "row">
                <div class="col-xs-11 center-vertical row-label">
                  <b>{{member.relationship}}</b>
                </div>
                <button type="button" class="close" ng-click="removeMember($index,$event)" ng-if="$index>0"></button>
              </div>
              <div class = "row hidden-xs">
                <div class="col-xs-3">
                  <input ng-disabled="$index==0" type="text" class="form-control household-name inspectletIgnore" ng-model="member.firstName" placeholder="First Name" required capitalize-first/>
                </div>
                <div class = "col-xs-2">
                  <input ng-disabled="$index==0" type="text" class="form-control inspectletIgnore" ng-model="member.lastName" placeholder="Last Name" required capitalize-first/>
                </div>
                <div class = "col-xs-2-half">
                  <input type="text" class="form-control inspectletIgnore"  placeholder="Birth Date" inputmask="'alias':'mm/dd/yyyy'" ng-model="member.birthdate" required valid-birthdate="member.relationship" pattern="\d{2}/\d{2}/\d{4}"/>
                </div>
                <div class = "col-xs-2-half" ng-if="!form.isSubsidy || (form.isSubsidy && member.isApplying)">
                  <input type="text" class="form-control inspectletIgnore" ng-model="member.ssn" placeholder="SSN" inputmask="'mask': '999-99-9999'" required pattern="\d{3}-\d{2}-\d{4}"/>
                </div>
                <div class = "col-xs-2">
                  <select selectpicker ng-model="member.gender" check-gender required>
                    <option value disabled>Sex</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>

              <!-- larger screens -->
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class="col-xs-6">
                  <input ng-disabled="$index==0" type="text" class="form-control household-name inspectletIgnore" ng-model="member.firstName" placeholder="First Name" required capitalize-first/>
                </div>
                <div class = "col-xs-6">
                  <input ng-disabled="$index==0" type="text" class="form-control inspectletIgnore" ng-model="member.lastName" placeholder="Last Name" required capitalize-first/>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-6">
                  <input type="text" class="form-control inspectletIgnore"  placeholder="Birth Date" inputmask="'alias':'mm/dd/yyyy'" ng-model="member.birthdate" required valid-birthdate="member.relationship" pattern="\d{2}/\d{2}/\d{4}"/>
                </div>
                <div class = "col-xs-6" ng-if="!form.isSubsidy || (form.isSubsidy && member.isApplying)">
                  <input type="text" class="form-control inspectletIgnore" ng-model="member.ssn" placeholder="SSN" inputmask="'mask': '999-99-9999'" required pattern="\d{3}-\d{2}-\d{4}"/>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-4">
                  <select selectpicker ng-model="member.gender" check-gender required>
                    <option value disabled>Sex</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>

              <div class = "row">
                <div class = "col-xs-12">

                  <label>
                    <input type="checkbox" ng-init="member.isCitizen=true" ng-model="member.isCitizen"/>
                    &nbsp; US Citizen </label>

                  <label ng-init="member.isApplying=true" ng-if="form.isSubsidy">
                    <input type="checkbox" ng-model="member.isApplying"/>
                    &nbsp; Applying for Coverage &nbsp;<span class = "icon-info" help-tooltip="'Does this person want to be covered under this plan?'"></span></label>
                  <label ng-if="form.isSubsidy">
                    <input type="checkbox" ng-model="member.isMarried"/>
                    &nbsp; Married </label>

                  <!--*****************************************************************
                  * Misc.
                  *****************************************************************-->
                  <span ng-if="!form.isSubsidy">
                    <input type="checkbox" ng-init="member.isTobacco=false" ng-model="member.isTobacco" />
                    &nbsp;
                    Smoker </label> </span>
                  <span ng-if="member.isApplying"> <label>
                      <input type="checkbox" ng-init="member.isTobacco=false" ng-model="member.isTobacco" />
                      &nbsp;
                      Smoker </label> <label ng-if="form.isSubsidy && member.gender=='female'">
                      <input type="checkbox" ng-model="member.isPregnant"/>
                      &nbsp;
                      Pregnant </label> <label ng-if="form.isSubsidy">
                      <input type="checkbox" ng-model="member.isCaretaker"/>
                      &nbsp; Caretaker &nbsp;<span class = "icon-info" help-tooltip="'Do you take care of anyone below age 19?'" direction="right"></span> </label> <label ng-if="form.isSubsidy">
                      <input type="checkbox" ng-model="member.isMedicaidChipRejected" />
                      &nbsp;
                      Rejected by Medicaid or CHIP in past 90 days</label>
                </div>
              </div>

              <!--*****************************************************************
              * Citizen
              *****************************************************************-->
              <div class = "immigration-docs select-width-auto" ng-if="member.isCitizen===false">
                <select ng-init="member.otherCitizen={}" selectpicker ng-model="member.otherCitizen.type" required>
                  <option value="" disabled>Immigration Docs</option>
                  <option value='10'>I-551: Permanent Resident (Green Card)</option>
                  <option value="19">I-551: Temporary Stamp (on passport or I-94, I-94A)</option>
                  <option value="18">Machine Readable Immigrant Visa</option>
                  <option value="15">Employment Authorization Card</option>
                  <option value="20">Arrival/Departure Record</option>
                  <option value="21">I-94: Arrival/Departure Record in foreign passport (I-94)</option>
                  <option value="22">Foreign passport</option>
                  <option value="9">I-327: Reentry Permit</option>
                  <option value="11">I-571: Refugee Travel Document</option>
                  <option value="23">I-20: Cert of Eligibility for Nonimmigrant Student (F-1)</option>
                  <option value="24">DS2019: Cert of Eligibility for Exchange Visitor (J-1)</option>
                  <option value="41">I-797: Notice of Action</option>
                </select>
                <!-- alien number -->
                <span ng-if="['10', '19', '9', '11','18','15','41'].indexOf(member.otherCitizen.type)>-1">
                  <input type="text" class = "form-control form-width-auto inspectletIgnore" placeholder="Alien Number" ng-model="member.otherCitizen.alienNum" inputmask="'mask': '\\A-9{7,9}'" required pattern="A-\d{7,9}"/>
                </span><!-- foreign passport -->
                <span ng-if="['18','21','22'].indexOf(member.otherCitizen.type)>-1">
                  <select selectpicker ng-options="country for country in CONSTANTS.COUNTRIES" ng-model="member.otherCitizen.country" required>
                    <option value="" disabled>Country</option>
                  </select>
                  <input type="text" class = "form-control form-width-auto inspectletIgnore" placeholder="Passport Number" ng-model="member.otherCitizen.passportNum" required/>
                  <input type="text" class = "form-control form-width-auto inspectletIgnore" placeholder="Passport Exp" inputmask="'alias':'mm/dd/yyyy','placeholder':'mm/dd/yyyy'" ng-model="member.otherCitizen.passportExpiration" required pattern="\d{2}/\d{2}/\d{4}"/>
                </span><!-- SEVIS ID -->
                <span ng-if="['23', '24'].indexOf(member.otherCitizen.type)>-1">
                  <input type="text" class = "form-control form-width-auto inspectletIgnore" placeholder="SEVIS ID" ng-model="member.otherCitizen.sevisId" placeholder="N-__________" inputmask="'mask': '\\N-9{10}'" required pattern="N-\d{10}"/>
                </span><!-- I-94 -->
                <span ng-if="['20','21','41'].indexOf(member.otherCitizen.type)>-1">
                  <input type="text" class = "form-control form-width-auto inspectletIgnore" placeholder="I-94 Number" ng-model="member.otherCitizen.i94" required/>
                </span><!-- EAD -->
                <span ng-if="requireEAD = ['15'].indexOf(member.otherCitizen.type)>-1">
                  <input type="text" class = "form-control form-width-auto inspectletIgnore" placeholder="EAD Number" ng-model="member.otherCitizen.eadNumber" required/>
                  <input type="text" class = "form-control form-width-auto inspectletIgnore" placeholder="EAD Exp" inputmask="'alias':'mm/dd/yyyy','placeholder':'mm/dd/yyyy'" ng-model="member.otherCitizen.eadExpiration" required pattern="\d{2}/\d{2}/\d{4}"/>
                  <select selectpicker ng-options="code for code in CONSTANTS.EAD_CODES" ng-model="member.otherCitizen.eadCode" required>
                    <option value="" disabled>Category</option>
                  </select> </span>
              </div>
            </div>

            <div class = "row row-top-25 row-bottom-15">
              <div class = "col-xs-12 ">
                <div class="dropup pull-right">
                  <button type="button" id="addMember" class="btn btn-orange dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Household Member <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="rel in CONSTANTS.RELATIONSHIPS">
                      <a href="" ng-click="addMember(rel,$event)">{{rel}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="alert alert-danger fadeAnimate" ng-if="marriedButSeperated && form2.$submitted">
              <p>
                You mentioned you are married but your spouse is not on your tax return. The IRS requires both of you to file taxes jointly to qualify for tax subsidies.
                <br>
                <label class = "center-vertical row-top-15">
                  <input name="proceedWithoutSubsidy" type="checkbox" ng-model="form.proceedWithoutSubsidy" required/>
                  &nbsp;I understand that by proceeding, we will not be applying for lower prices.</label>
              </p>
            </div>

            <div class="alert alert-danger fadeAnimate" role="alert" ng-if="form2.$submitted && !form2.$valid && !(form2.$error.required.length==1 && form2.$error.required[0].$name=='proceedWithoutSubsidy')" >
              <p ng-if="form2.$error.insufficientAge">
                You have to be at least 18 to be the first applicant. If you are getting insurance as a child, please list your parent as the first applicant.
              </p>
              <p ng-if="form2.$error.fakeBirthdate">
                Please enter a valid birth date.
              </p>
              <p ng-if="form2.$error.required || form2.$error.pattern">
                Please fill up the required fields.
              </p>

            </div>

            <div class = "row row-top-25 row-bottom-100">
              <div class = "col-xs-12 text-right ">
                <button type="button" class="btn btn-default btn-lg" ng-click="back()">
                  Back
                </button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="next(form2)">
                  Next
                </button>
              </div>
            </div>
          </form>

          <!--*****************************************************************
          * Income
          *****************************************************************-->
          <form name="form3" class="fadeAnimate-in" ng-if="form.isSubsidy && templateIndex==2">

            <!-- Init cannot be same line as repeat due to angular performance issue -->
            <div class = "form person fadeAnimate" ng-repeat="income in form.incomes">

              <div class = "row hidden-xs">
                <div class = "col-xs-2 row-label center-vertical">
                  {{income.person}}
                </div>
                <div class = "col-xs-3">
                  <input type="text" class = "form-control income-amount inspectletIgnore" placeholder="Annual Income" ng-model="income.amount" inputmask="'mask': '$9{0,10}'" required />
                </div>
                <div class = "col-xs-3">
                  <select selectpicker ng-model="income.source" required>
                    <option value disabled>Income Source</option>
                    <option value="jobIncome">Job</option>
                    <option value="selfEmploymentIncome">Self Employed</option>
                    <option value="ssaIncome">Social Security</option>
                    <option value="capitalGainsIncome">Capital Gains</option>
                    <option value="investmentIncome">Investment Income</option>
                    <option value="retirementIncome">Retirement Benefits</option>
                    <option value="unemploymentIncome">Unemployment Benefits</option>
                    <option value="farmingFishingIncome">Farming &amp; Fishing</option>
                    <option value="alimonyIncome">Alimony</option>
                    <option value="pensionIncome">Pension</option>
                    <option value="rentalIncome">Rental / Royalty</option>
                    <option value="otherIncome">Other</option>
                  </select>
                </div>
                <div class = "col-xs-3" ng-if="income.source=='otherIncome'">
                  <!-- Other -->
                  <select selectpicker ng-model="income.otherSource" required>
                    <option value disabled>Select Source</option>
                    <option value="18">Cancelled Debt</option>
                    <option value="16">Court Awards</option>
                    <option value="17">Jury Duty Pay</option>
                    <option value="20">Cash Support</option>
                    <option value="13">Gambling, Prizes or Awards</option>
                  </select>
                </div>
                <button type="button" class="close" ng-click="removeIncome($index,$event)"></button>
              </div>
              <div class = "row hidden-xs" ng-if="income.source=='jobIncome'">
                <div class = "col-sm-offset-2 col-sm-5 first">
                  <input type="text" class = "form-control inspectletIgnore" placeholder="Employer Name" ng-model="income.employer" required/>
                </div>
                <div class = "col-sm-5">
                  <input type="text" class = "form-control inspectletIgnore" ng-model="income.employerPhone" placeholder="Employer Phone" inputmask="'mask': '(999) 999-9999'" required pattern="\(\d{3}\) \d{3}-\d{4}"/>
                </div>
              </div>

              <!-- larger screen -->
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-3 row-label center-vertical">
                  {{income.person}}
                </div>
                <div class = "col-xs-8">
                  <input type="text" class = "form-control income-amount inspectletIgnore" placeholder="Annual Income" ng-model="income.amount" inputmask="'mask': '$9{0,10}'" required />
                </div>
                <button type="button" class="close" ng-click="removeIncome($index,$event)"></button>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg">
                <div class = "col-xs-9 col-xs-offset-3 first last">
                  <select selectpicker ng-model="income.source" required>
                    <option value disabled>Income Source</option>
                    <option value="jobIncome">Job</option>
                    <option value="selfEmploymentIncome">Self Employed</option>
                    <option value="ssaIncome">Social Security</option>
                    <option value="capitalGainsIncome">Capital Gains</option>
                    <option value="investmentIncome">Investment Income</option>
                    <option value="retirementIncome">Retirement Benefits</option>
                    <option value="unemploymentIncome">Unemployment Benefits</option>
                    <option value="farmingFishingIncome">Farming &amp; Fishing</option>
                    <option value="alimonyIncome">Alimony</option>
                    <option value="pensionIncome">Pension</option>
                    <option value="rentalIncome">Rental / Royalty</option>
                    <option value="otherIncome">Other</option>
                  </select>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg" ng-if="income.source=='otherIncome'">
                <div class = "col-xs-9 col-xs-offset-3 first last" >
                  <!-- Other -->
                  <select selectpicker ng-model="income.otherSource" required>
                    <option value disabled>Select Source</option>
                    <option value="18">Cancelled Debt</option>
                    <option value="16">Court Awards</option>
                    <option value="17">Jury Duty Pay</option>
                    <option value="20">Cash Support</option>
                    <option value="13">Gambling, Prizes or Awards</option>
                  </select>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg" ng-if="income.source=='jobIncome'">
                <div class = "col-xs-9 col-xs-offset-3 first last">
                  <input type="text" class = "form-control inspectletIgnore" placeholder="Employer Name" ng-model="income.employer" required/>
                </div>
              </div>
              <div class = "row hidden-sm hidden-md hidden-lg" ng-if="income.source=='jobIncome'">
                <div class = "col-xs-9 col-xs-offset-3 first last">
                  <input type="text" class = "form-control inspectletIgnore" ng-model="income.employerPhone" placeholder="Employer Phone" inputmask="'mask': '(999) 999-9999'" required pattern="\(\d{3}\) \d{3}-\d{4}"/>
                </div>
              </div>

            </div>

            <div class = "row row-top-25">
              <div class = "col-xs-12 ">
                <div class="dropup pull-right">
                  <button type="button" id="addIncome" class="btn btn-orange dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Income Source <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="member in form.members">
                      <a href="" ng-click="addIncome(member.firstName,$event)">{{member.firstName|titleCase}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class = "row row-top-25 row-bottom-100">
              <div class = "col-xs-12 text-right ">
                <button type="button" class="btn btn-default btn-lg" ng-click="back()">
                  Back
                </button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="next(form3)">
                  Next
                </button>
              </div>
            </div>

          </form>
          <!--*****************************************************************
          * Loading
          *****************************************************************-->
          <section class = "text-center" ng-if="templateIndex==3" >
            <div class = "row-top-25">
              <div class="sk-wandering-cubes">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
              </div>
            </div>

            <div class = "row">
              <div class = "col-sm-12 col-md-8 col-md-offset-2 h3" style = "font-weight:300;">
                <p class = "row-top-25">
                  Verifying your information...
                </p>
              </div>
            </div>

          </section>
          <!--*****************************************************************
          * Changes
          *****************************************************************-->

          <form name="form4" class="fadeAnimate-in" ng-if="templateIndex==4">
            <ul class = "attestations">
              <li ng-repeat="person in inEligibles">
                {{person.firstName}}, {{person.lastName}}
              </li>
            </ul>

            <div class = "row row-top-25 row-bottom-100">
              <div class = "col-xs-12 text-right hidden-xs">
                <button type="button" class="btn btn-default btn-lg" ng-click="back()">
                  Back
                </button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="next(form4)" ng-if="!nonEligible">
                  I acknowledge the above and continue
                </button>
              </div>

              <div class = "col-xs-12 text-center hidden-sm hidden-md hidden-lg">
                <button type="button" class="btn btn-primary btn-lg" ng-click="next(form4)" ng-if="!nonEligible">
                  I acknowledge that and continue
                </button>
                <button type="button" class="btn btn-default btn-lg row-top-15" ng-click="back()">
                  Back
                </button>
              </div>
            </div>

          </form>

          <!--*****************************************************************
          * Review and Sign
          *****************************************************************-->

          <form name = "form5" class="fadeAnimate-in" ng-if="templateIndex==5">
            <ul class = "attestations">
              <li>
                I will notify the federal marketplace if any information on this application changes. I understand a change could affect our eligibility for plans and subsidies.
              </li>
              <li>
                I am signing this application under penalty of perjury, which means I’ve provided true answers to all of the questions to the best of my knowledge. I may be subject to penalties under federal law if I intentionally provide false information.
              </li>
              <li>
                I give permission to the federal marketplace to access my tax returns for up to 5 years to verify my income for subsidy purposes. I know that I can revoke this permission at any time.
              </li>
              <li>
                I must file a federal income tax return in 2017 for the tax year of 2016. If I’m married at the end of 2016, I must file a joint income tax return with my spouse.
              </li>
              <li ng-if="review=='group'">
                I acknowledge that HoneyInsured may enroll my family in different enrollment groups if the insurance carrier doesn't allow our family to be put on the same plan. There will be no changes to the overall monthly premium.
              </li>
              <li>
                No one applying for health coverage is in jail.
              </li>
              <li>
                I acknowledge HoneyInsured as my agent of record and authorize them to submit this application on my behalf.
              </li>
            </ul>

            <p class = "row-top-25 row-bottom-5 text-right text-bold hidden-xs">
              Please enter your full name as it appears below to confirm and sign your application.
            </p>

            <p class = "row-top-25 row-bottom-5 text-bold hidden-sm hidden-md hidden-lg">
              Please enter your full name as it appears below to confirm and sign your application.
            </p>
            <div class="row row-top-15">
              <div class="col-xs-5 col-xs-offset-7">
                <input ng-model="form.attestation" type="text" class="form-control" placeholder="{{form.members[0].firstName+' '+form.members[0].lastName}}" required valid-signature/>
              </div>
            </div>

            <div class="alert alert-danger fadeAnimate row-top-25" role="alert" ng-if="form5.$submitted && !form5.$valid" >
              <p ng-if="form5.$error.required || form5.$error.pattern || form5.$error.invalidSignature">
                Please type in '{{form.members[0].firstName+' '+form.members[0].lastName}}' to confirm and sign your application.
              </p>
            </div>

            <div class = "row row-top-25 row-bottom-100">
              <div class = "col-xs-12 text-right">
                <button type="button" class="btn btn-default btn-lg" ng-click="back()">
                  Back
                </button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="next(form5)">
                  Submit
                </button>
              </div>
            </div>

          </form>

          <!--*****************************************************************
          * Loading
          *****************************************************************-->
          <section class = "text-center" ng-if="templateIndex==6" >
            <div class = "row-top-25">
              <div class="sk-wandering-cubes">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
              </div>
            </div>

            <div class = "row">
              <div class = "col-sm-12 col-md-8 col-md-offset-2 h3" style = "font-weight:300;">
                <p class = "row-top-25">
                  Submitting your information...
                </p>
              </div>
            </div>

          </section>

        </div>
        <!--*****************************************************************
        * Plan Info
        *****************************************************************-->
        <div class = "col-md-4">
          <div id = "enroll-panel">
            <div class = "panel">
              <div class = "panel-body">
                @@include('partials/recommend-plan-header.html',{"var":"plan", "size": "'lg'"})
                @@include('partials/recommend-plan-body.html',{"var":"plan", "size": "'lg'"})
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    @@include('layouts/footer.html')
  </body>
  <script>
    $('.navbar.navbar-default').removeClass('navbar-fixed-top navbar-small').addClass('navbar-top');
    new Waypoint({
        element : $('.breadcrumb')[0],
        handler : function(direction) {
            if (direction == 'down') {
                $('.navbar').removeClass('navbar-top');
                $('.navbar').addClass('navbar-scroll navbar-fixed-top');
            } else {
                $('.navbar').removeClass('navbar-scroll navbar-fixed-top');
                $('.navbar').addClass('navbar-top');
            }
        },
        offset : -5 // size of hero
    });
  </script>
</html>
