<div class="navbar navbar-default center-vertical navbar-small text-left" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class = "hidden-xs">
        <a class = "navbar-brand nav-index" href=""> </a>
      </div>
      <div class = "pull-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
      </div>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class = "hidden-sm hidden-md hidden-lg">
          <a href="/" class="nav-index"> Home</a>
        </li>
        <li>
          <a href="/blog_main.html">Blog</a>
        </li>
        <li>
          <a href="/blog_the-ultimate-guide-to-affordable-health-insurance.html">Insurance Guide</a>
        </li>
        <!-- <li id = "phone">
        </li> -->
        <!-- <li id="chat">
          <a href=""> <span class="icon-chat" style = "font-size: 25px; vertical-align: middle;"></span> Chat Us</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<script>
  $('.nav-index').click(function() {
    window.location = '/';
  }); 
</script>