<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Keywords" content="honeyinsured, honeyinsured insurance, affordable health insurance, affordable health insurance NC, affordable health insurance FL, affordable health insurance TX, health insurance marketplace north carolina, health insurance marketplace florida, health insurance marketplace texas, medical insurance deals" />
<link rel="shortcut icon" href="./img/favicon.png">

<!-- Google -->
<title>HoneyInsured: Personalized, Affordable Health Insurance</title>
<meta name="description" content="Get personalized health insurance recommendations, compare your options, and enroll within 5 min. We scan thousands of plans to find you the perfect one.">
<!-- Available in TX, GA, FL, VA, NC, OH and MO. -->

<!-- Facebook -->
<meta property="og:title" content="The Easiest Way to Get Health Insurance" />
<meta property="og:site_name" content="HoneyInsured"/>
<meta property="og:url" content="https://honeyinsured.com" />
<meta property="og:description" content="Get your personalized plan recommendation, explore your options, and enroll in 5 minutes." />
<meta property="fb:app_id" content="1639720459593352" />
<meta property="og:image" content="https://honeyinsured.com/img/social-logo.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@honeyinsured" />

